# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter / IPython
.ipynb_checkpoints/
.python-version

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log

